<app-cv></app-cv>
<!-- <app-pere></app-pere>
<app-somme [x]="5"></app-somme>
<app-somme [y]="4"></app-somme>
<app-somme [x]="5" [y]="4"></app-somme>
<app-somme></app-somme>
<!-- <app-card></app-card> -->
<!-- <app-color></app-color> -->
<!-- <div class="alert alert-danger">bonjour

  <app-first></app-first>
  <i class="fa fa-smile-o" aria-hidden="true"></i>
</div>
<app-first></app-first>
 -->
<!--  <app-first [name]="'mohamed'"></app-first>
 -->

<!--  <ol>
   <li>1</li>
   <li>2</li>
   <li>3</li>
   <li>4</li>
   <li>5</li>
 </ol> -->
 -->
